.contatosFooter{
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;

    nav{
        width: 15%;
        display: flex;
        justify-content:space-between ;
        align-items: center;
    }
}

.copyright{
    background-color: #232020;
    color: #FFF;
    height: 6vh;
    display: flex;
    justify-content:center;
    align-items: center;
}